# MANAGED BY ANSIBLE — edit roles/paperless/templates/paperless.env.j2
USERMAP_UID={{ paperless_uid }}
USERMAP_GID={{ paperless_gid }}

PAPERLESS_REDIS=redis://broker:6379

PAPERLESS_DBHOST={{ paperless_db_host }}
PAPERLESS_DBPORT={{ paperless_db_port }}
PAPERLESS_DBNAME={{ paperless_db_name }}
PAPERLESS_DBUSER={{ paperless_db_user }}
PAPERLESS_DBPASS={{ paperless_db_password }}

PAPERLESS_TIKA_ENABLED=1
PAPERLESS_TIKA_ENDPOINT=http://tika:9998
PAPERLESS_TIKA_GOTENBERG_ENDPOINT=http://gotenberg:3000

PAPERLESS_SECRET_KEY={{ paperless_secret_key }}
PAPERLESS_URL={{ paperless_url }}
PAPERLESS_ALLOWED_HOSTS={{ paperless_hostnames | join(',') }}
PAPERLESS_CSRF_TRUSTED_ORIGINS={% for host in paperless_hostnames %}http://{{ host }}:{{ paperless_port }}{% if not loop.last %},{% endif %}{% endfor %}

PAPERLESS_TIME_ZONE={{ paperless_timezone }}
PAPERLESS_OCR_LANGUAGE={{ paperless_ocr_language }}

PAPERLESS_TASK_WORKERS={{ paperless_task_workers }}
PAPERLESS_THREADS_PER_WORKER={{ paperless_threads_per_worker }}

PAPERLESS_CONSUMER_RECURSIVE=true
PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS=true

PAPERLESS_CONSUMER_DELETE_DUPLICATES=true

PAPERLESS_ADMIN_USER={{ paperless_admin_user }}
PAPERLESS_ADMIN_MAIL={{ paperless_admin_mail }}
PAPERLESS_ADMIN_PASSWORD={{ paperless_admin_password }}
